$small: 500px;
$medium: 900px;

.app-main-div{
    padding: 10%;
    @media screen and (max-width: $small) {
        padding: 25% 10% 10% 10%;
    }
    @media screen and (min-width: $medium) {
        padding: 10%;
    }
}

.image-div{
    background-repeat: round;
}
